body {
    background-color: #FCE7C7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: 'Alfa Slab One', cursive;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 130px;
    color: rgba(230, 53, 0, 0.3);
    text-transform: uppercase;
    position: relative;
}

h1::before{
    content: "Flawless!";
    position: absolute;
    top: 0%;
    left: 0%;
    color: rgba(230, 53, 0, 1) ;
    width: 0%;
    overflow: hidden;
    transition: all 0.6s;
}

h1:hover::before {

    width: 100%;
}