body {
    margin: 0;
    padding: 0;
    background: #3D3830;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pulse {
    width: 200px;
    height: 200px;
    background: #E63500;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
    font-size: 15px;
    font-family: 'Patua One', cursive;
    color: #FCE7C7;
    text-transform: uppercase;
    animation: animate 3s linear infinite;
    text-align: center;
}

@keyframes animate {
    0%{
        box-shadow: 0 0 0 0 rgba(230, 53, 0, .7), 0 0 0 0 rgba(230, 53, 0, .7);
    }
    25% {
        box-shadow: 0 0 0 50px rgba(230, 53, 0, 0), 0 0 0 0 rgba(230, 53, 0, .7);
    }
    75% {
        box-shadow: 0 0 0 50px rgba(230, 53, 0, 0), 0 0 0 50px rgba(230, 53, 0, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(230, 53, 0, 0) , 0 0 0 50px rgba(230, 53, 0, 0);
    }
}